*{
	border:0;
	padding:0;
	margin:0;
}
body{
	background-color:#f2f2f2;
}
.back
{
	background-position:center;
    height:25vh;
	width:100%;
	background-color:#009973;
	position:absolute;
}
.con
{	
	width:65vw;
	height:87vh;
	display:block;
	box-sizing:border-box;
	margin:50px auto;
	margin-top:4vh;
	position:relative;
	background-color:#f2f2f2;
	border-top:solid 8vh green;	
	
}
.blue
{
	margin:0;
	border:0;
	padding:0;
	width:max-width;
}
.four{
	

	font-family:Helventica Neue Light;
	font-size:1.2em;
	font-weight:600;
	background-color:#339933;
	color:#fff;
	
}
.pic{
	background-color:orange;
	width:max-width;
	height:5vh;
	text-align:center;
	
}
.wide{
	background-color:#f2f2f2;
	height:10vh;
	width:100%;
}
.bar{
	background-color:green;
	width:100vw;
	padding-top:2vh;
	color:#000;
	text-align:center;
}
.scroll{
	height:45vh;
	width:65vw;
	overflow:scroll;
	overflow-x:hidden;
}
